<div>
  <link href="./work.css" rel="stylesheet" />
  <div class="work-work">
    <img
      alt="image"
      src="/playground_assets/data-1-1500w.png"
      class="work-image"
    />
    <div class="work-details">
      <div class="work-header">
        <div class="work-heading">
          <span class="work-text"><span>Policijos įvykiai</span></span>
        </div>
        <span class="work-text1">
          <span>
            Lietuvos policijos registruotų įvykių teritorinės sklaidos rodiklių
            nustatymas ir vertinimas
          </span>
        </span>
      </div>
      <div class="work-tags">
        <div class="tag-container">
          <a
            href="https://www.geoportal.lt/map/#portalAction=openSavedMap&amp;savedMapId=64347"
            target="_blank"
            rel="noreferrer noopener"
            class="tag-tag tag"
          >
            <span>Peržiūrėti</span>
          </a>
        </div>
        <a
          href="http://geoportal.chgf.vu.lt/geoserver/kgk_tyrimai/wms?SERVICE=WMS&amp;REQUEST=GetCapabilities&amp;LAYERS=aaprir_201519_vilnius"
          target="_blank"
          rel="noreferrer noopener"
          class="work-link"
        >
          <div class="tag-container">
            <a
              href="https://www.geoportal.lt/map/#portalAction=openSavedMap&amp;savedMapId=64347"
              target="_blank"
              rel="noreferrer noopener"
              class="tag-tag tag"
            >
              <span>Servisas</span>
            </a>
          </div>
        </a>
        <a
          href="https://www.geoportal.lt/edvi-webapp/views/map/viewMap.xhtml?id=64347"
          target="_blank"
          rel="noreferrer noopener"
          class="work-link1"
        >
          <div class="tag-container">
            <a
              href="https://www.geoportal.lt/map/#portalAction=openSavedMap&amp;savedMapId=64347"
              target="_blank"
              rel="noreferrer noopener"
              class="tag-tag tag"
            >
              <span>Daugiau</span>
            </a>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
